<nav class="bg-slate-300">
    <div class="mx-auto px-2 sm:px-6 lg:px-10">
      <div class="relative flex h-16 items-center justify-between">
        
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a class="font-sans hover:font-serif text-2xl font-semibold text-orange-600	hover:text-3xl" style="font-family:  'Bebas Neue', sans-serif;
        font-family: 'Oswald', sans-serif;">eStore</a>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4"> 
              <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-semibold font-mono" aria-current="page">Home</a>
              <a href="#" class="text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-semibold font-mono">Shop</a>
              <a href="#" class="text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-semibold font-mono">Categories</a>
              <a href="#" class="text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-semibold font-mono">Products</a>
              <a href="#" class="text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-semibold font-mono">New Arrivals</a>
              <a href="#" class="text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-semibold font-mono">Wishlist</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <div class="">
                <div class="relative  flex w-full flex-wrap items-stretch">
                  <input
                    type="search"
                    class="rounded-md h-10 p-3 w-80 font-mono"
                    placeholder="Search"/>
                  <span
                    class="input-group-text flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700 "
                    id="basic-addon2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="h-5 w-5 font-mono text-gray-900">
                      <path
                        fill-rule="evenodd"
                        d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                        clip-rule="evenodd" />
                    </svg>
                  </span>
                </div>
              </div>
            <a href="#" class="text-gray-900 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-semibold font-mono">Login</a>
        </div>
      </div>
    </div>
  </nav>
  